<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - task_5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Task 5</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span>@User.Identity.Name  </span>
                        <form class="d-flex input-group w-auto ml-2" asp-controller="Account" asp-action="Logout">
                            <button class="btn btn-outline-primary"
                                    type="submit"
                                    data-mdb-ripple-color="dark">
                                Logout
                            </button>
                        </form>

                        // <a class="btn btn-primary active ml-2" role="button" aria-pressed="true" asp-controller="Account" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="btn btn-primary active" role="button" aria-pressed="true" asp-controller="Account" asp-action="Login">Login</a>
                    }
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - task_5
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
