
<input type="button" class="btn btn-primary" id="createGame" value="Create game" />
<div id="gameList">

</div>
<script> var userName = "@User.Identity.Name"; </script>
@section Scripts
{
    <script src="~/js/lobby.js" asp-append-version="true"></script>
}